name: HUPX Arfigyelo

on:
  schedule:
    - cron: '0 5 * * *'  # Minden reggel 6:00 (Budapest téli idő)
  workflow_dispatch:      # Kézi indítás lehetősége

permissions:
  contents: write         # Írási jog a fájlokhoz

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Kód letöltése
        uses: actions/checkout@v3

      - name: Python telepítése
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Csomagok telepítése
        run: |
          pip install pandas requests entsoe-py

      - name: Program futtatása
        env:
          ENTSOE_KEY: ${{ secrets.ENTSOE_KEY }}
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_TARGET: ${{ secrets.EMAIL_TARGET }}
          PUSHOVER_USER_KEY: ${{ secrets.PUSHOVER_USER_KEY }}
          PUSHOVER_API_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
        run: python main.py

      - name: Adatok frissítése (Commit & Push)
        run: |
          git config --global user.name "GitHub Action Robot"
          git config --global user.email "action@github.com"
          git add prices.json
          # Csak akkor commitoljon, ha van változás
          git diff --quiet && git diff --staged --quiet || (git commit -m "Friss tőzsdei árak [skip ci]" && git push)
