name: run-script
on:
  schedule:
    # 14:00 UTC = 15:00 magyar idő (téli időszámításnál)
    - cron: '0 14 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Kód letöltése
        uses: actions/checkout@v3
      - name: Python telepítése
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Csomagok telepítése
        run: pip install pandas entsoe-py requests
      - name: Program futtatása
        env:
          ENTSOE_KEY: ${{ secrets.ENTSOE_KEY }}
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_TARGET: ${{ secrets.EMAIL_TARGET }}
          PO_USER: ${{ secrets.PUSHOVER_USER_KEY }}
          PO_TOKEN: ${{ secrets.PUSHOVER_API_TOKEN }}
        run: python main.py
      - name: Adatok frissítése (Commit & Push)
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add prices.json
          git commit -m "Automata árfrissítés" || exit 0
          git push
